*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", Roboto, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
  display: block;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
h1 {
  font-weight: bold;
  color: #650300;
}
h2 {
  font-weight: bold;
  border-left: 8px solid #9f1213;
  opacity: 1;
  margin-left: 8px;
  margin-bottom: 2rem;
  padding-left: 16px;
  font-size: 48px;
}
.h2-org {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
}
h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
.w-80 {
  width: 80px;
}
.dp-flex {
  display: flex;
}
.fd-col {
  flex-direction: column;
}
.jc-sb {
  justify-content: space-between;
}
.jc-c {
  justify-content: center;
}
.jc-fs {
  justify-content: flex-start;
}
.ai-c {
  align-items: center;
}
.ai-e {
  align-items: end;
}
.ai-fe {
  align-items: flex-end;
}
.ac-fe {
  align-content: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-2 {
  gap: 8px;
}
.gap-8 {
  gap: 24px;
}
.gap-12 {
  gap: 48px;
}
.gap-16 {
  gap: 64px;
}
.fz-14px {
  font-size: 14px;
}
.fz-2rem {
  font-size: 2rem;
}
.fz-5 {
  font-size: 20px;
}
.fz-6 {
  font-size: 24px;
}

.fz-9 {
  font-size: 36px;
}
.fz-42px {
  font-size: 42px;
}
.fz-12 {
  font-size: 48px;
}
.fz-16 {
  font-size: 64px;
}
.fw-bolder {
  font-weight: bolder;
}
.mt-4 {
  margin-top: 16px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-6 {
  margin-top: 24px;
}

.mt-20 {
  margin-top: 80px;
}
.pt-4 {
  padding-top: 1rem;
}
.pb-4 {
  padding-bottom: 16px;
}
.pb-12 {
  padding-bottom: 48px;
}
.pb-20 {
  padding-bottom: 80px;
}
.pl-4 {
  padding-left: 16px;
}
.pr-4 {
  padding-right: 16px;
}
.mt-5rem {
  margin-top: 5rem;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-4 {
  margin-bottom: 16px;
}
.mb-6 {
  margin-bottom: 24px;
}
.mb-12 {
  margin-bottom: 48px;
}
.mb-18 {
  margin-bottom: 72px;
}
.mb-20 {
  margin-bottom: 80px;
}
.mb-5rem {
  margin-bottom: 5rem;
}
.color-w {
  color: white;
}
.color-r {
  color: #650300;
}
.color-black {
  color: black;
}
.text-end {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: left;
}
.f-wrap {
  flex-wrap: wrap;
}
.autoHeight {
  height: 100vh;
}

/* header */
.header {
  background: #aa0601;
  padding-top: 16px;
  padding-bottom: 15.43px;
}
.nav-bar {
  font-size: 20px;
  font-family: 200;
  flex-wrap: wrap;
}
/* banner */
.banner {
  background-image: url(/assets/images/home-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.banner-scri {
  font-size: 36px;
  line-height: 54px;
}
.banner-subTit {
  font-size: 64px;
  font-weight: bold;
  line-height: 96px;
}
.buyNow-btn {
  display: inline-block;
  background-color: #aa0601;
  color: white;
  font-size: 20px;
  padding: 6px 12px;
  margin-top: 10px;
}
// feature
.feature {
  background: #fbf2f2;
  padding-top: 80px;
  padding-bottom: 80px;
}
.feature-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.feature-card {
  flex: 0 0 calc((100% / 4) - 24px);
  max-width: calc((100% / 4) - 24px);
}
// product-series
.product-series {
  padding-top: 80px;
}
.product-series-name {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.product-series-card {
  flex: 0 0 calc((100% / 3) - 24px);
  max-width: calc((100% / 3) - 24px);
}
.product-series-card-scri {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}
// co-branded
.co-branded {
  background-image: url(/assets/images/index-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}
.co-branded-card {
  flex: 0 0 calc((100% / 2));
  max-width: calc((100% / 2));
  background-color: white;
}
.co-branded-scri {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}
// recommend
.recommend {
  padding-top: 80px;
  padding-bottom: 80px;
}
.recommend-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.recommend-list-card {
  flex: 0 0 calc((100% / 4) - 24px);
  max-width: calc((100% / 4) - 24px);
  box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  opacity: 1;
}

.card-text-date {
  color: #707070;
  opacity: 1;
}
/* qNa */
.container-oringin {
  max-width: 1324px;
  margin: 0 auto;
}
.qNa,
.store {
  padding-top: 80px;
  padding-bottom: 48px;
}
.qNa-q {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}
.qNa-items {
  margin-bottom: 32px;
}
/* store */
.store-cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 41px;
  gap: 48px 24px;
}
.card {
  max-width: 31%;
}
.card-text-box {
  padding: 16px 24px;
  border: #00000020 1px solid;
}
.material-symbols-outlined {
  vertical-align: middle;
}
.card-title {
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #212529;
  border: #00000020 1px solid;
}
.store-btn {
  background-color: black;
  text-align: center;
}
.store-btn a {
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
}
/* footer */
.footer {
  background: #aa0601;
}
.footer-nav {
  padding-top: 12px;
  padding-bottom: 12px;
}
.material-symbols-outlined {
  vertical-align: middle;
}
.space-22 {
  margin-right: 22px;
}
.top-part {
  padding: 48px 0;
}
.right-cards {
  gap: 32px;
}
.right-cards a img {
  width: 48px;
}
.buttom-part {
  border-top: 1px solid white;
  padding: 32px 0;
}
// products_1，賽璐珞鈦金屬混合鏡框產品頁
.products-list {
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 0.5rem solid white;
  text-align: center;
  color: black;
  transition: border-bottom 0.1s ease;
}
.products-list:hover {
  border-bottom: 0.5rem solid #aa0601;
}
.products-list-btn {
  font-size: 2rem;
  font-weight: bold;
  line-height: 48px;
  padding: 1.5rem 9.375rem;
}
.products_cards {
  max-width: 24.5%;
}
.products_colorsBox {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  opacity: 1;
}
.brown {
  background: #5f3e2d;
}
.redOrange {
  background: #b75929;
}
// 換頁按鈕
.pages_cards,
.pages_cards_forward,
.pages_cards_after {
  border: 1px solid #555555;
  color: #555555;
}
.pages_cards a,
.pages_cards_forward a,
.pages_cards_after a {
  color: #555555;
  padding: 11px 12px;
  font-size: 19px;
  line-height: 29px;
  opacity: 1;
}
.pages_cards:hover {
  background: black;
}
.pages_cards:hover a {
  color: white;
}
.pages_cards_forward:hover,
.pages_cards_after:hover {
  background: #f2f2f2;
}
.pages_cards_forward a:hover,
.pages_cards_after a:hover {
  color: #555555;
}
.pages_list {
  margin-top: 7.75rem;
  margin-bottom: 5rem;
}
// products_2頁面
.products_cards_products_2 {
  max-width: 32.5%;
}
// 部落格頁面
.blog_manu {
  background: #650300;
  font-size: 20px;
}
.blog_manu_list {
  justify-content: space-between;
}
.blog_manu_list li a {
  color: white;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 20px;
  text-align: center;
}
.search .material-symbols-outlined.search-icon {
  font-size: 30px;
}
.search a {
  color: white;
  padding: 13px 0;
}
.blog_main {
  margin-top: 6rem;
}
.blog_content {
  background: white;
  padding-top: 2rem;
  padding-bottom: 7.75rem;
}
.blog_content li {
  max-width: calc((100% - 24px) / 2);
}
.more {
  order: 0;
  align-self: flex-end;
  font-weight: 900;
}
.blog_title a {
  font-size: 32px;
  color: #650300;
}
.blog_describe {
  color: black;
}
.blog_subtitle {
  opacity: 1;
  font-size: 1.25rem;
  font-weight: bolder;
}
.blog_subtitle_date {
  font-size: 1rem;
}
.blog_describe_text {
  max-width: 100%;
  font-size: 20px;
  line-height: 30px;
}

/* 由大到小的rwd（桌機優先） */
@media (max-width: 768px) {
  .header {
    padding-bottom: 0px;
  }
  .header-nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
  }
  .logo-pic {
    margin-bottom: 12px;
  }
  .container {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .qNa-rwdFIX {
    padding-left: 12px;
    padding-right: 12px;
  }
  .nav-bar {
    gap: 0;
  }
  .nav-items {
    border: 1px solid white;
    width: 50%;
    padding: 12px 62px;
  }
  .card {
    max-width: 45%;
  }
}
@media (max-width: 657px) {
  .footer-space {
    padding-left: 12px;
    padding-right: 12px;
  }
  .footer-nav {
    display: none;
  }
  .top-part {
    padding: 24px 0;
  }
  .buttom-part {
    flex-direction: column;
    gap: 8px;
  }
  .statement {
    flex-direction: column;
    gap: 0;
  }
  .left-cards p {
    font-size: 16px;
  }
  .right-cards {
    gap: 8px;
  }
  .right-cards a img {
    max-width: 24px;
  }
  .material-symbols-outlined {
    font-size: 18px;
  }
}
@media (max-width: 430px) {
  .nav-items {
    font-size: 15px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .qNa-items {
    margin-bottom: 24px;
  }
  .qNa {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 376px) {
  .card {
    max-width: 100%;
  }
}
