<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@1,900&display=swap"
      rel="stylesheet"
    />
    <title>部落格</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 導覽選單區：紅色背景 -->
    <div class="blog_manu">
      <div class="container-oringin dp-flex blog_manu_list">
        <ul class="dp-flex gap-12">
          <li><a href="#">最新消息</a></li>
          <li><a href="#">特別企劃</a></li>
          <li><a href="#">新品上市</a></li>
          <li><a href="#">鏡框小知識</a></li>
        </ul>
        <div class="search">
          <a href="#">
            <span class="material-symbols-outlined search-icon">search</span>
          </a>
        </div>
      </div>
    </div>

    <!-- 內容區-->
    <div class="blog_main">
      <div class="container-oringin">
        <h2 class="fz-12">部落格</h2>

        <!-- 文章內容(卡片)區 -->
        <ul class="blog_content dp-flex gap-8">
          <li><img src="../assets/images/blog-1.png" alt="blog-1" /></li>
          <li class="blog_cards dp-flex fd-col jc-sb">
            <div class="blog_describe">
              <p class="blog_title"><a href="#">情人特別企劃</a></p>
              <div class="dp-flex jc-sb">
                <p class="blog_subtitle">2020 Valentine's Special</p>
                <p class="blog_subtitle_date">2020/02/14</p>
              </div>
              <p class="blog_describe_text">
                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻，只要從未來過本店的新朋友，綁定官方LINE好友，都可享專屬優惠⋯⋯
              </p>
            </div>
            <div class="more fz-9 color-r">
              <p>MORE</p>
            </div>
          </li>
        </ul>
        <!-- 換頁標題 -->
        <div class="pages_list">
          <ul class="dp-flex jc-c ai-c text-center">
            <li class="pages_cards_forward"><a href="#">上一頁</a></li>
            <li class="pages_cards"><a href="#">1</a></li>
            <li class="pages_cards"><a href="#">2</a></li>
            <li class="pages_cards"><a href="#">3</a></li>
            <li class="pages_cards"><a href="#">4</a></li>
            <li class="pages_cards"><a href="#">5</a></li>
            <li class="pages_cards_after"><a href="#">下一頁</a></li>
          </ul>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
