<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />

    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="banner">
      <div class="container-oringin dp-flex fd-col autoHeight jc-c ai-fe">
        <div class="banner-scri text-end color-r">
          Promise-Desert 2020 早春系列
        </div>
        <div class="banner-subTit text-end color-r">看得清，才能看得遠</div>
        <div class="buyNow-btn text-end"><a href="#">立刻購買</a></div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
