<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@1,900&display=swap"
      rel="stylesheet"
    />
    <title>清晰之術眼鏡</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container-oringin">
      <ul class="dp-flex ai-c jc-c color-black">
        <li class="products-list color-black">
          <a
            class="products-list-btn color-black"
            href="https://ellenwusw.github.io/glass/products_1.html"
            >OPTICAL</a
          >
        </li>
        <li class="products-list color-black">
          <a
            class="products-list-btn color-black"
            href="https://ellenwusw.github.io/glass/products_1.html"
            >SUNGLASSES</a
          >
        </li>
        <li class="products-list color-black">
          <a
            class="products-list-btn color-black"
            href="https://ellenwusw.github.io/glass/products_1.html"
            >FUNCTIONAL</a
          >
        </li>
      </ul>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
