<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@1,900&display=swap"
      rel="stylesheet"
    />
    <title>清晰之術眼鏡</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container-oringin">
      <ul class="dp-flex ai-c jc-c color-black">
        <li class="products-list color-black">
          <a
            class="products-list-btn"
            id="black"
            href="https://ellenwusw.github.io/glass/products_1.html"
            >OPTICAL</a
          >
        </li>
        <li class="products-list color-black">
          <a
            class="products-list-btn color-black"
            href="https://ellenwusw.github.io/glass/products_2.html"
            >SUNGLASSES</a
          >
        </li>
        <li class="products-list color-black">
          <a
            class="products-list-btn color-black"
            href="https://ellenwusw.github.io/glass/products_1.html"
            >FUNCTIONAL</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul class="dp-flex jc-c ai-c">
        <li>
          <img
            class="product-banner"
            src="../assets/images/product-header-1.png"
            alt="optial-pic-left"
          />
        </li>
        <li>
          <img
            class="product-banner"
            src="../assets/images/product-header-2.png"
            alt="optial-pic-right"
          />
        </li>
      </ul>
    </div>
    <div class="container-oringin dp-flex fd-col ai-c">
      <p class="fz-42px color-black mt-5rem">Celluloid Combi</p>
      <p class="fz-2rem color-black mb-5rem">賽璐珞鈦金屬混合鏡框</p>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
